# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
# > Copied from .gitignore

/**/.DS_Store

########################################################################################################################
# Ignore log files
/**/*.out
/**/*.log
########################################################################################################################

########################################################################################################################
# Ignore the `.ignore/` folder
/**/.ignore/**
########################################################################################################################

########################################################################################################################
# Ignore binaries from running go build
# /main
/**/main
/**/main.out

/**/project_template
/**/project_template.out
########################################################################################################################

# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
# Original .dockerignore file

########################################################################################################################
# Ignore personal dev folders.
/**/.ignore/**

.ignore
.ignore/
.ignore/**
.ignore/**/*
########################################################################################################################

########################################################################################################################
# Ignore personal vscode settings folder and git
.vscode
.editorconfig

.git
.gitattributes
.gitignore

.shellcheckrc
.golangci.yml

README.md
docs
########################################################################################################################

# Ignore binaries from running go build
/**/main
/**/main.out

/**/project_template
/**/project_template.out

./main
/main
main

./main.out
/main.out
main.out

./project_template
/project_template
project_template

./project_template.out
/project_template.out
project_template.out
########################################################################################################################

########################################################################################################################
# Misc: Just ignore this for now
.env_debug
.env
.env*
########################################################################################################################

# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
