# Denote all files that are truly binary and should not be modified.

# *.pdf   binary
*.pdf   binary filter=lfs diff=lfs merge=lfs -text

*.png   binary

*.jpg   binary
*.jpeg  binary
*.gif   binary
*.ico   binary
*.icon  binary

# Fonts

*.eot   binary
*.otf   binary diff=exif
*.ttc   binary diff=exif
*.ttf   binary diff=exif
*.woff  binary
*.woff2 binary

# Sound

*.mp4   binary
*.webm  binary
*.ogg   binary
*.mp3   binary
*.wav   binary
*.flac  binary
*.aac   binary
